<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <title>PÁGINA INICIAL</title>
</head>

<body>

        <h1>PÁGINA INICIAL</h1>

        <main>
            <section>
                <a href="../templates/times/listar_times.html">
                    <button>TIMES</button>
                </a>
                <a href="jogos.html">
                    <button>JOGOS</button>
                </a>
            </section>
            <section>
                <a href="times.html">
                    <button>PAÍSES</button>
                </a>
                <a href="jogos.html">
                    <button>CIDADES</button>
                </a>
            </section>
        </main>

</body>

</html>