<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>

<body>

    <button onclick="getJogos()">SUBMIT</button>

</body>

</html>

<script>
    const apiJogos = "http://localhost:8080/jogos"

    function getJogos() {
        // Fazendo a requisição GET usando fetch
        fetch(apiJogos)
            .then(response => {
                // Verificando se a requisição foi bem-sucedida (status 200-299)
                if (!response.ok) {
                    throw new Error(`Erro na requisição: ${response.status}`);
                }
                // Parseando a resposta como JSON
                return response.json();
            })
            .then(data => {
                // Manipulando os dados recebidos
                console.log(data);
            })
            .catch(error => {
                // Tratando erros
                console.error('Erro na requisição:', error);
            });
    }
</script>